
    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-top: 0;
        
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      background-image: none !important;
      height: 160px;
      margin-top: 0;
      font-size: 10px;
      border: 0;
      padding: 0;
      z-index: 10;
      opacity: 1;
      width: auto;
    }

    .carousel-control  img {
      padding-top: 0;
      margin-top: 67px;
    }    

    .carousel .item {
      height: 160px;
      overflow:hidden;
      float: left;
    }
    .carousel .carousel-inner img {
      height: 160px;padding: 0;margin: 0;      
/*      top: 0;
      left: 0;
*/      
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 160px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }


.carousel-indicators {
  top: 5px;
  right: 5px;
  width: auto;
  left: initial;
  bottom: initial;
}
.carousel-indicators li {
  background-color: white;
  border: none;
}

.carousel-indicators .active {
  background-color: #A9111D;
}

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (min-width: 1200px) {
      .carousel .item {
        height: 160px;
      }
      .carousel .carousel-inner img {
        height: 160px;padding: 0;margin: 0; 
      }

    }

    @media (min-width: 1600px) {
      .carousel .item {
        height: 160px;
      }
      .carousel .carousel-inner img {
        height: 160px;padding: 0;margin: 0; 
      }

    }


    @media (max-width: 979px) {

      .carousel .item {
        height: 160px;
      }
      .carousel .carousel-inner img {
        height: 160px;padding: 0;margin: 0; 
      }

    }


    @media (max-width: 767px) {

      .carousel {
      }
      .carousel .container {

      }
      .carousel .item {
        height: 160px;
      }
      .carousel .carousel-inner img {
        height: 160px;padding: 0;margin: 0; 
      }


      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

    }

