@font-face{font-family:'Hum521l';font-style:normal;font-weight:normal;src:url("../fonts/hum521l.ttf") format('truetype')}
html{height:100%;padding:0;margin:0;color:#000}
body{height:100%;padding:0;margin:0;font-family:Hum521l;font-size:1.6em}
.text-bold{font-weight:bold !important}
.container{height:100%;width:100%;padding:0;margin:0;overflow:auto}
.thumbnail{border-radius:8px}
.padding-thumbs{padding:45px 39px 28px 39px}
.testing-css{border:2px solid #008000}
.form-group{margin-bottom:.5em}
.sin-padding{padding:0 !important}
.sin-redondeo{border-radius:0}
.sin-borde{border:none}
.sin-borde-top{border-top:0}
.padding-content{padding:0 60px}
.text-left{text-align:left !important}
.text-white{color:#fff}
.form-group label{font-weight:normal}
ul.nav-stacked li a{padding:.4em .3em .3em .1em}
.text-gris{color:#656565 !important}
.fondo-blanco{background-color:#fff}
.fondo-cian{background-color:#eaf9f9 !important}
.fondo-gris{color:#fff !important;background-color:#656565 !important}
.color-active{color:#452d14 !important}
#logo{position:relative;margin-left:4.1em;margin-top:2em;width:70px;z-index:10;}
#logo img{width:70px}
.prev{background-image:url("../img/iconos/flechas.png");border-radius:0;height:57px;cursor:pointer;background-position:bottom left;margin-top:5em;width:40px}
.prev:hover{background-image:url("../img/iconos/flechas-sobre.png")}
.next{background-image:url("../img/iconos/flechas.png");border-radius:0;height:57px;cursor:pointer;background-position:bottom right;margin-top:5em;width:40px}
.next:hover{background-image:url("../img/iconos/flechas-sobre.png")}
.prevProy{display:inline;position:absolute;left:0;background-image:url("../img/iconos/flechas.png");border-radius:0;height:57px;cursor:pointer;background-position:bottom left;margin-top:3em;width:40px;z-index:999999}
.prevProy:hover{background-image:url("../img/iconos/flechas-sobre.png")}
.nextProy{position:absolute;right:0;background-image:url("../img/iconos/flechas.png");border-radius:0;height:57px;cursor:pointer;background-position:bottom right;margin-top:3em;width:40px;z-index:999999}
.nextProy:hover{background-image:url("../img/iconos/flechas-sobre.png")}
#panelMenuHeader{position:absolute;z-index:999;width:100%;margin:0;padding:0;}
#panelMenuHeader .menu-principal{position:relative;padding:0 !important;margin-right:0 !important;margin-top:.8em}
.menu-principal-movil{background-color:#fff;background-image:url("../img/iconos/barra-tablet.jpg");background-position:bottom;padding:.2em 0 0 0;position:absolute;top:0;margin:0;width:100%;z-index:20;height:65px;}
.menu-principal-movil #logo-small{height:62px;width:155px;background-image:url("../img/iconos/logo-tablet.png");background-repeat:none}
.menu-principal-movil #simple-menu img{padding-top:1.1em !important}
.menu-principal .iconos-social{float:right;margin:1em .6em 3.5em 0}
.iconos-footer .iconos-social{float:none;margin:1em auto 5em auto}
.nav-pills > li > a{border-radius:0 !important}
.menu-principal,.iconos-footer{z-index:20;margin-top:1em;}
.menu-principal .iconos-social,.iconos-footer .iconos-social{width:190px;}
.menu-principal .iconos-social .logo-fb,.iconos-footer .iconos-social .logo-fb{float:left;margin-right:1em;}
.menu-principal .iconos-social .logo-fb .logo-fb-img,.iconos-footer .iconos-social .logo-fb .logo-fb-img{float:none;background-image:url("../img/iconos/icono-facebook.png");width:40px;height:29px;cursor:pointer}
.menu-principal .iconos-social .logo-fb .logo-fb-img:hover,.iconos-footer .iconos-social .logo-fb .logo-fb-img:hover{background-position:bottom left}
.menu-principal .iconos-social .logo-twitter,.iconos-footer .iconos-social .logo-twitter{float:left;margin-right:1.6em;}
.menu-principal .iconos-social .logo-twitter .logo-twitter-img,.iconos-footer .iconos-social .logo-twitter .logo-twitter-img{float:none;background-image:url("../img/iconos/icono-twitter.png");width:40px;height:29px;cursor:pointer}
.menu-principal .iconos-social .logo-twitter .logo-twitter-img:hover,.iconos-footer .iconos-social .logo-twitter .logo-twitter-img:hover{background-position:bottom left}
.menu-principal .iconos-social .logo-youtube,.iconos-footer .iconos-social .logo-youtube{float:left;}
.menu-principal .iconos-social .logo-youtube .logo-youtube-img,.iconos-footer .iconos-social .logo-youtube .logo-youtube-img{float:none;background-image:url("../img/iconos/icono-youtube.png");width:40px;height:28px;cursor:pointer}
.menu-principal .iconos-social .logo-youtube .logo-youtube-img:hover,.iconos-footer .iconos-social .logo-youtube .logo-youtube-img:hover{background-position:bottom left}
.menu-principal .menu-principal-content,.iconos-footer .menu-principal-content{padding-right:0 !important;}
.menu-principal .menu-principal-content .nav-stacked,.iconos-footer .menu-principal-content .nav-stacked{float:right;text-align:right;}
.menu-principal .menu-principal-content .nav-stacked li,.iconos-footer .menu-principal-content .nav-stacked li{width:186px;}
.menu-principal .menu-principal-content .nav-stacked li a,.iconos-footer .menu-principal-content .nav-stacked li a{color:#656565 !important;padding-right:3em !important}
.menu-principal .menu-principal-content .nav-stacked li.active a,.iconos-footer .menu-principal-content .nav-stacked li.active a{color:#fff !important}
footer{background:#000;color:#fff !important;padding:0;text-align:center;width:100%;position:absolute;margin:0;bottom:-10px;z-index:4;height:42px;line-height:42px;}
footer h3{position:absolute;font-size:.4em;font-weight:normal;line-height:20px;padding-top:.7em;margin:0 auto;text-align:center;width:100%;z-index:10;}
footer h3 a{color:#fff !important}
.content{height:96%;overflow:visible;}
.content #info-empresa{color:#000;font-size:.8em;margin-top:.6em;position:relative;width:98%;z-index:20;}
.content #info-empresa div{line-height:26px;padding:.6em}
.content .contenido{height:100%;width:100%;position:relative;}
.content .contenido .banner{position:relative;margin-left:3.6em;margin-top:0;overflow:hidden;width:90%;height:97%;z-index:8}
.content #titulo-home{position:absolute;width:100%;top:48%;z-index:9;}
.content #titulo-home div{background:rgba(0,0,0,0.65);color:#fff;padding:0 1em .5em 2.1em;}
.content #titulo-home div h2{font-size:2.2em;margin:.3em auto 0 .1em;padding:0}
.content #titulo-home div p{font-size:1em;margin:0 auto .3em .1em;padding:0}
.content #owl-proyectos{color:#000;margin-bottom:2.5em;padding:1.5em 1.7em 1.5em 1em;background:rgba(0,0,0,0.15);position:relative;z-index:9;}
.content #owl-proyectos .item{margin:0 2.6em 0 1em;padding:0;}
.content #owl-proyectos .item .row{background-color:#bababa;padding:0;}
.content #owl-proyectos .item .row .imagen-thumb{margin:0 !important;padding:0 !important;left:0;}
.content #owl-proyectos .item .row .imagen-thumb .etiqueta{background-color:#a9111d;color:#fff;padding:.3em;text-align:center;font-size:.9em}
.content #owl-proyectos .item .row .proy-descrip-thumb{margin:0 !important;padding:.5em 1em;text-align:center;}
.content #owl-proyectos .item .row .proy-descrip-thumb a{color:#000 !important}
.content #lista-proyectos{color:#000;padding:2em 12% 1em 12%;width:100%;z-index:9;}
.content #lista-proyectos .item{margin:.5em .2em;padding:0;border:16px #bababa solid;}
.content #lista-proyectos .item .etiqueta{color:#656565;height:5em;padding:.3em;text-align:center}
.content #lista-proyecto-galeria{color:#000;padding:1.5em 0;width:100%;z-index:9;}
.content #lista-proyecto-galeria .itemsImgProy{margin-bottom:.6em;}
.content #lista-proyecto-galeria .itemsImgProy img{text-align:center !important;border:7px #bababa solid;width:100%;height:140px}
.content #lista-proyecto-galeria .item{margin:.5em .7em;padding:0}
.content #lista-servicios{color:#000;padding:2em 0 1.4em 0;width:100%;z-index:9;}
.content #lista-servicios .item{margin:0 1em;padding:0;border:16px #bababa solid;}
.content #lista-servicios .item .etiqueta{color:#656565;padding:.3em;text-align:center;height:3.4em}
.content #informacion-inicio,.content #informacion-empresa,.content #informacion-proyectos,.content #informacion-servicios,.content #informacion-contactos{background-color:transparent;text-align:justify;color:#656565;padding:0 60px;position:relative;overflow:auto;z-index:9;}
.content #informacion-inicio .titulo,.content #informacion-empresa .titulo,.content #informacion-proyectos .titulo,.content #informacion-servicios .titulo,.content #informacion-contactos .titulo{color:#a9111d;font-size:2.9em}
.content #informacion-inicio,.content #informacion-contactos{padding:0}
.content #informacion-empresa{margin-right:.9em;}
.content #informacion-empresa #carousel-empresa{border:7px solid #dedede}
.content #informacion-proyectos{text-align:left;}
.content #informacion-proyectos h5{font-weight:bold}
.content #informacion-proyectos a{color:#656565 !important}
.content #informacion-proyectos .nav-pills > li > a{border:1px solid #bababa !important;color:#656565 !important;border-radius:none;margin-right:.5em}
.content #informacion-proyectos .nav-pills > li.active > a{background-color:#000;color:#fff !important}
.content #informacion-proyectos #detalle-proyecto ul{padding-left:.3em}
.content .contact{margin:auto;margin-top:1.1em;overflow:hidden;text-align:center;color:#7d6350;font-size:.9em !important;background-color:#eaf9f9}
.simple-menu{display:none;position:absolute;margin-top:.2em;margin-left:.2em;z-index:110}
.overlay-menu{display:none;position:absolute;right:0;margin-top:0;margin-right:0}
.nav-mobile{display:none}
@media screen and (max-width:320px ){nav{display:none !important}
.content #titulo-home div h2{font-size:1.4em}
footer .links{display:none !important}
}@media screen and (max-width:460px ){.menu-principal-movil{background-image:url("../img/iconos/barra-celular.jpg");height:47px;}
.menu-principal-movil #logo-small{height:39px;width:105px;background-image:url("../img/iconos/logo-celula.png")}
.menu-principal-movil #simple-menu img{padding-top:.8em !important}
}@media screen and (max-width:420px ) and (min-width:321px ){nav{display:none !important}
.content #titulo-home div h2{font-size:1.4em}
}@media screen and (max-width:639px ) and (min-width:421px ){nav{display:none !important}
}@media screen and (max-width:767px ){.simple-menu{display:block}
.overlay-menu{display:block}
.nav-mobile{display:block}
.padding-thumbs{padding:23px 18px}
nav{display:none !important}
.content{margin-bottom:40px;}
.content #info-empresa{margin-top:.6em;width:100%;}
.content #info-empresa div{text-align:center !important;line-height:22px;padding:.2em 0 .2em 1.4em;}
.content #info-empresa div a{text-align:center;color:#000}
.content #titulo-home{margin-left:.1em;position:relative;top:30%;}
.content #titulo-home div{padding:0 1em .5em 1.1em;height:7.4em;}
.content #titulo-home div h2{font-size:1.9em}
.content #titulo-home div p{font-size:1em}
.content #lista-proyectos{padding:.2em 1.5em .2em .7em;}
.content #lista-proyectos .col-xs-6{padding-right:0;margin-right:0;}
.content #lista-proyectos .col-xs-6 .item{margin:.5em 0;font-size:.8em}
.content .contenido .banner{position:relative;margin-top:2em;margin-left:0;width:100%}
.content #owl-proyectos{margin-top:1.5em;padding-left:1.7em;padding-right:.3em;}
.content #owl-proyectos .item .row .proy-descrip-thumb{font-size:.9em}
.content #informacion-inicio,.content #informacion-empresa,.content #informacion-proyectos,.content #informacion-servicios,.content #informacion-contactos{padding:0 .5em 0 1.5em;}
.content #informacion-inicio .titulo,.content #informacion-empresa .titulo,.content #informacion-proyectos .titulo,.content #informacion-servicios .titulo,.content #informacion-contactos .titulo{font-size:2.4em}
.content #informacion-inicio{padding:0;top:-6em;}
.content #informacion-inicio #owl-proyectos{margin-bottom:1.2em}
.content #informacion-empresa{top:-13.8em;}
.content #informacion-empresa #carousel-empresa{max-width:310px;}
.content #informacion-empresa #carousel-empresa .carousel-inner img{width:100%}
.content #informacion-proyectos{padding:0 .2em;top:-13.8em;}
.content #informacion-proyectos h2{margin-left:.1em}
.content #informacion-proyectos .nav-pills{font-size:.8em !important;margin-left:.5em;}
.content #informacion-proyectos .nav-pills li{padding-bottom:.6em}
.content #informacion-servicios{top:-13.8em;}
.content #informacion-servicios #lista-servicios{padding-right:1.7em}
.content #informacion-servicios .item{margin:0 .1em 0 .8em;border:14px #bababa solid}
.content #informacion-contactos{padding:0;top:-12.8em;}
.content #informacion-contactos .contacto-panel{padding:0 1.3em}
}@media screen and (min-width: 768px){.content .contenido #titulo-home{top:45%;}
.content .contenido #titulo-home div h2{font-size:2em;margin:.2em auto .1em .1em}
.content #info-empresa{font-size:1em}
.content #informacion-inicio{top:-12.2em;}
.content #informacion-inicio #owl-proyectos{margin-bottom:1.8em;}
.content #informacion-inicio #owl-proyectos .item .row .proy-descrip-thumb{font-size:.9em}
.content #informacion-inicio{padding-left:3.6em;top:-11em}
.content #informacion-empresa,.content #informacion-proyectos,.content #informacion-servicios{top:-23em}
.content #informacion-contactos{top:-24em;}
.content #informacion-contactos .contacto-panel{padding:2em 3em 0 4.4em}
.content #informacion-proyectos{margin-bottom:20px}
.content #informacion-servicios{margin-bottom:36px}
}@media screen and (min-width: 1280px){.content .contenido #titulo-home{top:49%;}
.content .contenido #titulo-home div h2{font-size:2.4em;margin:.3em auto .1em .1em}
.content #info-empresa{font-size:1em}
.content #informacion-inicio{top:-12.2em;}
.content #informacion-inicio #owl-proyectos{margin-bottom:2em}
.content #informacion-empresa p{font-size:1.2em}
}@media screen and (min-width: 1440px){#logo{position:relative;margin-left:4.1em;margin-top:1.5em;width:110px;z-index:10;}
#logo img{width:110px}
.menu-principal .menu-principal-content .nav-stacked li a{padding-top:.6em;padding-bottom:.6em}
.content .contenido #titulo-home{top:48%;}
.content .contenido #titulo-home div h2{font-size:2.8em;margin:.4em auto .1em .1em}
.content #informacion-inicio{top:-15em;}
.content #informacion-inicio #owl-proyectos{margin-bottom:2.7em;font-size:1.3em;padding-right:.9em;padding-left:1.5em;}
.content #informacion-inicio #owl-proyectos .item .row .imagen-thumb img,.content #informacion-inicio #owl-proyectos .item .row .imagen-thumb .etiqueta{width:125px}
.content #informacion-inicio #owl-proyectos .item .row .proy-descrip-thumb{font-size:.9em}
.content #informacion-empresa{top:-25em;}
.content #informacion-empresa p{font-size:1.3em}
.content #informacion-empresa #carousel-empresa .carousel-inner img{width:100%}
.content #informacion-proyectos{top:-25em}
.content #informacion-servicios{top:-25em}
.content #informacion-contactos{top:-26em}
}@media screen and (min-width: 768px) and (max-height: 650px){.content .contenido .banner{height:100%}
.content .contenido #titulo-home{top:48%;}
.content .contenido #titulo-home div h2{font-size:2.4em;margin:.3em auto .1em .1em}
.content #informacion-inicio{margin-bottom:3.4em;top:-12em;}
.content #informacion-inicio #owl-proyectos{margin-bottom:2.2em}
.content #informacion-empresa,.content #informacion-proyectos,.content #informacion-servicios,.content #informacion-contactos{margin-bottom:3em;top:-21em}
.content #informacion-contactos{top:-23em}
}@media screen and (min-width: 768px) and (max-height: 510px){.content .contenido .banner{height:130%}
.content .contenido #titulo-home{top:40%}
.content #informacion-inicio{margin-bottom:3em;}
.content #informacion-inicio #owl-proyectos{margin-bottom:1.8em}
.content #informacion-empresa,.content #informacion-proyectos,.content #informacion-servicios,.content #informacion-contactos{top:-18em}
.content #informacion-contactos{top:-20em}
}@media screen and (min-width: 768px) and (max-height: 360px){.content .contenido .banner{height:150%}
}@media screen and (max-width: 800px) and (min-height:  700px){.simple-menu{display:block}
.overlay-menu{display:block}
.nav-mobile{display:block}
.padding-thumbs{padding:23px 18px}
nav{display:none !important}
.content{margin-bottom:40px;}
.content #info-empresa{margin-top:.6em;}
.content #info-empresa div{text-align:center !important;line-height:22px;padding:.2em;}
.content #info-empresa div a{text-align:center;color:#000}
.content #titulo-home{margin-left:.1em;position:relative;top:50%;}
.content #titulo-home div{padding:0 1em .5em 1.1em;}
.content #titulo-home div h2{font-size:1.7em}
.content #titulo-home div p{font-size:1em}
.content #lista-proyectos{padding:.2em .5em;}
.content #lista-proyectos .col-xs-6{padding-right:0;margin-right:0;}
.content #lista-proyectos .col-xs-6 .item{margin:.5em 0}
.content .contenido .banner{position:relative;margin-top:2em;margin-left:0;width:100%}
.content #informacion-inicio,.content #informacion-empresa,.content #informacion-proyectos,.content #informacion-servicios{padding:0 22px}
.content #informacion-inicio{padding:0;top:-11.4em;}
.content #informacion-inicio #owl-proyectos{margin-bottom:1.4em}
.content #informacion-empresa{top:-22em}
.content #informacion-proyectos{padding:0;top:-22em;}
.content #informacion-proyectos h2{margin-left:.4em}
.content #informacion-proyectos .nav-pills{font-size:.8em !important}
.content #informacion-servicios{top:-22em}
.content #informacion-contactos{padding:0;top:-21.2em;}
.content #informacion-contactos .contacto-panel{padding:0 1.3em}
}