marron = #7d6350
cian = #EAF9F9
gris = #656565
rojo = #A9111D
gris_claro = #BABABA


@font-face {
	font-family: 'Heldustry';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/HeldustryFT_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'mangal';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/mangal.ttf') format('truetype');
}

@font-face {
	font-family: 'mangalb';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/mangalb.ttf') format('truetype');
}

@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/Pacifico.ttf') format('truetype');
}

@font-face {
	font-family: 'Remachine';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/RemachineScript.ttf') format('truetype');
}

html
	height 100%
	padding 0
	margin 0
	color black
body
	height 100%
	padding 0
	margin 0

.text-bold
	font-weight bold !important

.container
	height 100%
	width 100%
	padding 0
	margin 0
	overflow auto

.thumbnail
	border-radius 8px

.padding-thumbs
	padding 45px 39px 28px 39px

.testing-css
	border 2px solid green

.form-group
	margin-bottom 0.5em


.sin-padding
	padding 0 !important
.sin-redondeo
	border-radius 0
.sin-borde
	border none
.sin-borde-top
	border-top 0

.padding-content
	padding 0 60px
.text-left
	text-align left !important

.text-white
	color white

.form-group
	label
		font-weight normal

ul.nav-stacked
	li
		a
			padding 0.4em 0.3em 0.3em 0.1em

.text-marron
	color marron !important

.fondo-blanco
	background-color white
.fondo-cian
	background-color cian !important

.color-active
	color #452D14 !important

#logo
	position absolute
	margin-left 4.1em
	margin-top 1.5em
	width 100%
	z-index 10
	img
		width 90px

.prev
	background-image url(../img/iconos/flechas.png)
	border-radius 0
	height 57px
	cursor pointer
	background-position bottom left
	margin-top 5em
	width 40px

.next
	background-image url(../img/iconos/flechas.png)
	border-radius 0
	height 57px
	cursor pointer
	background-position bottom right
	margin-top 5em
	width 40px

.menu-principal
	position absolute
	padding 0 !important
	margin-right 0 !important
	margin-top 1.5em
	width 101%
.menu-principal-movil
	background-color white
	padding 0.2em 0
	position absolute
	top 0
	margin 0
	width 100%
	z-index 20
	#logo-small
		img
			height 35px


.menu-principal
.iconos-footer
	z-index 20
	margin-top 1em
	.iconos-social
		margin 1em auto 5em auto
		width 170px
		float none
		.logo-fb
			float left
			margin-right 0.7em
			.logo-fb-img
				float none
				background-image url(../img/iconos/icono-facebook.png)
				width 40px
				height 29px
				cursor pointer
			.logo-fb-img:hover
				background-position bottom left
		.logo-twitter
			float left
			margin-right 1.3em
			.logo-twitter-img
				float none
				background-image url(../img/iconos/icono-twitter.png)
				width 40px
				height 29px
				cursor pointer
			.logo-twitter-img:hover
				background-position bottom left
		.logo-youtube
			float left
			.logo-youtube-img
				float none
				background-image url(../img/iconos/icono-youtube.png)
				width 40px
				height 28px
				cursor pointer
			.logo-youtube-img:hover
				background-position bottom left

	.menu-principal-content
		padding-right 0 !important
		.nav-stacked
			text-align right
			li
				a
					color gris !important
					padding-right 3.2em !important
			li.active
				a
					color white !important

footer
	background black
	color white !important
	padding 0
	text-align center
	width 100%
	position absolute
	margin 0
	bottom -10px
	z-index 4
	height 35px
	line-height 35px
	h3
		position absolute
		font-size 0.4em
		font-weight normal
		line-height 20px
		padding-top 0.7em
		margin 0 auto
		text-align center
		width 100%
		z-index 10
		a
			color white !important


.content
	height 98%
	overflow visible

	#info-empresa
		margin-top .5em
		position relative
		z-index 20
		div
			line-height 26px
			padding 0.6em

	.contenido
		height 100%
		width 100%
		.banner
			/*border 1px solid green*/
			position relative
			margin-left 1.7em
			margin-top 0
			overflow hidden
			width 96%
			height 97%
			z-index 8
	#titulo-home
		position absolute
		width 100%
		top 47%
		z-index 9
		div
			background rgba(0, 0, 0, .65)
			color white
			padding 0 1em 0.5em 2.1em
			h2
				font-size 2.7em
			p
				font-size 1.1em

	#owl-proyectos
		color black
		margin-bottom 1em
		padding 2em 1.7em 2em 1.2em
		background rgba(0, 0, 0, .15)
		position relative
		z-index 9
		.item
			margin 0 2.6em 0 1em
			padding 0
			.row
				background-color gris_claro
				padding 0
				.imagen-thumb
					margin 0 !important
					padding 0 !important
					left 0
					.etiqueta
						background-color rojo
						color white
						padding 0.3em
						text-align center
				.proy-descrip-thumb
					margin 0 !important
					padding 1.5em
					text-align center

	#lista-proyectos
		color black
		padding 2em 12%
		width 100%
		z-index 9
		.item
			margin 0.5em .2em
			padding 0
			border 16px gris_claro solid
			.etiqueta
				color gris
				padding 0.3em
				text-align center

	#lista-servicios
		color black
		padding 2em 0
		width 100%
		z-index 9
		.item
			margin 0 1em
			padding 0
			border 16px gris_claro solid
			.etiqueta
				color gris
				padding 0.3em
				text-align center

	#informacion-inicio
	#informacion-empresa
	#informacion-proyectos
	#informacion-servicios
	#informacion-contactos
		background-color transparent
		text-align justify
		color gris
		padding 0 60px
		position relative
		overflow auto
		z-index 9
		.titulo
			color rojo
			font-size 2.9em

	#informacion-inicio
	#informacion-contactos
		padding 0

	.contact
		margin auto
		margin-top 1.1em
		overflow hidden
		text-align center
		color marron
		font-size 0.9em !important
		background-color cian


.simple-menu
	display none
	position absolute
	margin-top 0.2em
	margin-left 0.2em
	z-index 110

.overlay-menu
	display none
	position absolute
	right 0
	margin-top 0em
	margin-right 0em	

.nav-mobile
	display none
		

@media screen and (max-width:320px )
	nav
		display none !important
	footer
		.links
			display none !important


@media screen and (max-width:420px ) and (min-width:321px ) 
	nav
		display none !important


@media screen and (max-width:639px ) and (min-width:421px )
	nav
		display none !important


@media screen and (max-width:767px )
	.simple-menu
		display block
	.overlay-menu
		display block		
	.nav-mobile
		display block
	.padding-thumbs
		padding 23px 18px
	nav
		display none !important

	.content
		margin-bottom 40px
		#info-empresa
			margin-top 0.6em
			div
				text-align center !important
				line-height 22px
				padding 0.2em
				a
					text-align center
					color black

		#titulo-home
			margin-left 0.1em
			position relative
			top 50%
			div
				padding 0 1em 0.5em 1.1em
				h2
					font-size 1.7em
				p
					font-size 1em
		#lista-proyectos
			padding 0.2em 0.5em
			.col-xs-6
				padding-right 0
				margin-right 0
				.item
					margin 0.5em 0


		.contenido
			.banner
				position relative
				margin-top 2em
				margin-left 0
				width 100%
		#owl-proyectos
			margin-top 1.5em

		#informacion-inicio
		#informacion-empresa
		#informacion-proyectos
		#informacion-servicios
			padding 0 22px
		#informacion-inicio
			padding 0
			top 0
		#informacion-empresa
			top -4em
		#informacion-proyectos
			padding 0
			top -8em
			h2
				margin-left 0.4em
			.nav-pills
				font-size 0.8em !important
		#informacion-servicios
			top -8em
		#informacion-contactos
			padding 0
			top -8em
			.contacto-panel
				padding 0 1.3em
	

@media screen and (min-width: 768px)
	.content
		#informacion-inicio
			top -14.5em
		#informacion-empresa
			top -22em
		#informacion-proyectos
			top -23em
		#informacion-servicios
			top -24em
		#informacion-contactos
			top -24em
			.contacto-panel
				padding 2em 3em 0 4.4em


//@media screen and (min-width: 1024px)

//@media screen and (min-width: 1280px)


@media screen and (min-width: 1440px)
	.content
		.contenido
			#titulo-home
				top 47%
		#informacion-inicio
			top -15.5em
		#informacion-empresa
			top -23em
		#informacion-proyectos
			top -24em
		#informacion-servicios
			top -25em
		#informacion-contactos
			top -25em

		#owl-proyectos
			margin-bottom 3.3em
			.item
				.row
					.imagen-thumb
						img
						.etiqueta
							width 105px


//@media screen and (min-width: 1900px)