marron = #7d6350
cian = #EAF9F9
gris = #656565
rojo = #A9111D
gris_claro = #BABABA


@font-face {
	font-family: 'Heldustry';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/HeldustryFT_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'mangal';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/mangal.ttf') format('truetype');
}

@font-face {
	font-family: 'mangalb';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/mangalb.ttf') format('truetype');
}

@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/Pacifico.ttf') format('truetype');
}

@font-face {
	font-family: 'Remachine';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/RemachineScript.ttf') format('truetype');
}

html
	height 100%
	padding 0
	margin 0
	color black
body
	height 100%
	padding 0
	margin 0

.text-bold
	font-weight bold !important

.container
	height 100%
	width 100%
	padding 0
	margin 0

#id_content_view
	height 101%
	width 100%
	padding 0
	margin 0

.thumbnail
	border-radius 8px

.padding-thumbs
	padding 45px 39px 28px 39px

.testing-css
	border 2px solid green

.form-group
	margin-bottom 0.5em

.btn
	color white
	background-color marron
	border-radius 0

.sin-padding
	padding 0 !important
.sin-redondeo
	border-radius 0
.sin-borde
	border none
.sin-borde-top
	border-top 0

.text-left
	text-align left !important

.text-white
	color white

.form-group
	label
		font-weight normal

ul.nav-stacked
	li
		a
			padding-right 0.3em

.text-marron
	color marron !important

.fondo-blanco
	background-color white
.fondo-cian
	background-color cian !important

.color-active
	color #452D14 !important

#logo
	position absolute
	margin-left 3em
	margin-top 1.5em
	width 100%
	z-index 10
	img
		width 90px

.menu-principal
	position absolute
	padding 0 !important
	margin-right 0 !important
	margin-top 1.5em
	width 102%

.menu-principal
.iconos-footer
	z-index 10
	.iconos-social
		margin-left 1em
		margin-bottom 6em
		.logo-fb
			float left
			margin-right 0.7em
			.logo-fb-img
				float none
				background-image url(../img/iconos/icono-facebook.png)
				width 40px
				height 29px
				cursor pointer
			.logo-fb-img:hover
				background-position bottom left
		.logo-twitter
			float left
			margin-right 1.3em
			.logo-twitter-img
				float none
				background-image url(../img/iconos/icono-twitter.png)
				width 40px
				height 29px
				cursor pointer
			.logo-twitter-img:hover
				background-position bottom left
		.logo-youtube
			float left
			.logo-youtube-img
				float none
				background-image url(../img/iconos/icono-youtube.png)
				width 40px
				height 28px
				cursor pointer
			.logo-youtube-img:hover
				background-position bottom left

	.menu-principal-content
		padding-right 0 !important
		.navbar-collapse
			padding 0 !important
			.nav-stacked
				text-align right
				li
					a
						color gris !important
						padding-right 3.2em !important
				li.active
					a
						color white !important

footer
	background black
	color white !important
	padding 0
	text-align center
	width 100%
	position absolute
	margin 0
	bottom -10px
	z-index 4
	height 35px
	line-height 35px
	h3
		position absolute
		font-size 0.4em
		font-weight normal
		line-height 20px
		padding-top 0.7em
		margin 0 auto
		text-align center
		width 100%
		z-index 10
		a
			color white !important


.content
	height 98%
	overflow visible

	.productos
		margin-top 1.1em
		margin-bottom 0
		text-size 1em
		background-color cian
		height 101%
		.subcontenido
			padding 1.5em 16% 0 16%
			background-color cian
			height auto
		.sin-fondo
			background-color transparent
			box-shadow none
			h4
				padding-top 0
				margin-top 0.1em
				
	#info-empresa
		div
			line-height 26px
			padding 0.6em

	.contenido
		height 100%
		width 100%

		.banner
			position relative
			margin-top 0
			overflow hidden
			height 100%
			z-index 8
	#titulo-home
		position absolute
		margin-left 1.3em
		width 100%
		bottom 42%
		z-index 9
		div
			background rgba(0, 0, 0, .65)
			color white
			padding 0 1em 0.5em 2.1em
			h2
				font-size 2.7em
			p
				font-size 1.1em

	#owl-proyectos
		color black
		padding 2.1em 1em
		background rgba(0, 0, 0, .15)
		width 100%
		z-index 9
		.item
			margin 0 2.6em 0 1em
			padding 0
			.row
				background-color gris_claro
				padding 0
				.imagen-thumb
					margin 0 !important
					padding 0 !important
					left 0
					.etiqueta
						background-color rojo
						color white
						padding 0.3em
						text-align center
				.proy-descrip-thumb
					margin 0 !important
					padding 1.5em
					text-align center

	#informacion
		text-align justify
		color gris
		padding-left 3.5em
		padding-right 2em
		width 100%
		z-index 9
		.titulo
			color rojo
			font-size 2.1em
			margin-bottom 0.9em

	.contact
		margin auto
		margin-top 1.1em
		overflow hidden
		text-align center
		color marron
		font-size 0.9em !important
		background-color cian
		.izq 
		.der
		.centro
			display inline-block
			margin 2em
			p
				font-family "mangalb"
			h2
				font-size 1.7em
				font-weight normal
				font-family "Heldustry"

		.izq
			text-align right
			margin-right 0
			.direccion
				padding-right 38px
				background-image url(../img/amor-amar.png)
				background-repeat no-repeat
				background-position right

		.der
			text-align left	
			border-left solid 2px marron
			padding-left 2em

		.spacer		
			background marron
			display inline-block
			height 200px
		
		.centro
			text-align left
			padding 7px 15px 9px 22px
			margin 0
			font-size 1em
			line-height 1.5em
			h2
				padding 4px 0 0 0
				margin 0
				line-height 1.6em
			p
				padding 0
				margin 0
			.direccion
				display inline-block
				font-family "mangalb"
				padding-right 4em
				background-image url(../img/amor-amar.png)
				background-repeat no-repeat
				background-position right



.simple-menu
	display none
	position absolute
	margin-top 0.2em
	margin-left 0.2em

.overlay-menu
	display none
	position absolute
	right 0
	margin-top 0em
	margin-right 0em	

.nav-mobile
	display none
		

@media screen and (max-width:320px )
	nav
		display none !important
	footer
		.links
			display none !important


@media screen and (max-width:420px ) and (min-width:321px ) 
	nav
		display none !important


@media screen and (max-width:639px ) and (min-width:421px )
	nav
		display none !important


@media screen and (max-width:767px )
	.simple-menu
		display block
	.overlay-menu
		display block		
	.nav-mobile
		display block
	.padding-thumbs
		padding 23px 18px
	nav
		display none !important
	#logo
		margin-left 1em
		margin-top 1em
		img
			width 60px
	.content
		margin-bottom 40px
		#info-empresa
			margin-top 0.6em
			div
				text-align center !important
				line-height 22px
				padding 0.2em
				a
					text-align center
					color black

		#titulo-home
			bottom 59%
			div
				padding 0 1em 0.5em 1.1em
				h2
					font-size 1.7em
				p
					font-size 1em

		#owl-proyectos
			margin-top 1.5em
			position relative
	

@media screen and (min-width: 768px)
	.content
		#informacion
			position absolute
			top 42%
		#owl-proyectos
			position absolute
			bottom 80px


//@media screen and (min-width: 1024px)

//@media screen and (min-width: 1280px)


//@media screen and (min-width: 1440px)


//@media screen and (min-width: 1900px)