marron = #7d6350
cian = #EAF9F9
gris = #656565
rojo = #A9111D
gris_claro = #BABABA
gris_claro2 = #DEDEDE


@font-face {
	font-family: 'Hum521l';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/hum521l.ttf') format('truetype');
}

html
	height 100%
	padding 0
	margin 0
	color black
body
	height 100%
	padding 0
	margin 0
	font-family Hum521l
	font-size 1.6em

.text-bold
	font-weight bold !important

.container
	height 100%
	width 100%
	padding 0
	margin 0
	overflow auto

.thumbnail
	border-radius 8px

.padding-thumbs
	padding 45px 39px 28px 39px

.testing-css
	border 2px solid green

.form-group
	margin-bottom 0.5em


.sin-padding
	padding 0 !important
.sin-redondeo
	border-radius 0
.sin-borde
	border none
.sin-borde-top
	border-top 0

.padding-content
	padding 0 60px
.text-left
	text-align left !important

.text-white
	color white

.form-group
	label
		font-weight normal

ul.nav-stacked
	li
		a
			padding 0.4em 0.3em 0.3em 0.1em

.text-gris
	color gris !important

.fondo-blanco
	background-color white
.fondo-cian
	background-color cian !important

.fondo-gris
	color white !important
	background-color gris !important
	
.color-active
	color #452D14 !important

#logo
	position relative
	margin-left 4.1em
	margin-top 2em
	width 70px
	z-index 10
	img
		width 70px

.prev
	background-image url(../img/iconos/flechas.png)
	border-radius 0
	height 57px
	cursor pointer
	background-position bottom left
	margin-top 5em
	width 40px
.prev:hover
	background-image url(../img/iconos/flechas-sobre.png)


.next
	background-image url(../img/iconos/flechas.png)
	border-radius 0
	height 57px
	cursor pointer
	background-position bottom right
	margin-top 5em
	width 40px
.next:hover
	background-image url(../img/iconos/flechas-sobre.png)

#panelMenuHeader
	position absolute
	z-index 999
	width 100%
	margin 0
	padding 0
	.menu-principal
		position relative
		padding 0 !important
		margin-right 0 !important
		margin-top 0.8em

.menu-principal-movil
	background-color white
	background-image url(../img/iconos/barra-tablet.jpg)
	background-position bottom
	padding 0.2em 0 0 0
	position absolute
	top 0
	margin 0
	width 100%
	z-index 20
	height 65px
	#logo-small
		height 62px
		width 155px
		background-image url(../img/iconos/logo-tablet.png)
		background-repeat none
	#simple-menu
		img
			padding-top 1.1em !important


.menu-principal
	.iconos-social
		float right
		margin 1em 0.6em 3.5em 0

.iconos-footer
	.iconos-social
		float none
		margin 1em auto 5em auto

.nav-pills
	& > li
		& > a
			border-radius 0 !important

.menu-principal
.iconos-footer
	z-index 20
	margin-top 1em
	.iconos-social
		width 190px
		.logo-fb
			float left
			margin-right 1em
			.logo-fb-img
				float none
				background-image url(../img/iconos/icono-facebook.png)
				width 40px
				height 29px
				cursor pointer
			.logo-fb-img:hover
				background-position bottom left
		.logo-twitter
			float left
			margin-right 1.6em
			.logo-twitter-img
				float none
				background-image url(../img/iconos/icono-twitter.png)
				width 40px
				height 29px
				cursor pointer
			.logo-twitter-img:hover
				background-position bottom left
		.logo-youtube
			float left
			.logo-youtube-img
				float none
				background-image url(../img/iconos/icono-youtube.png)
				width 40px
				height 28px
				cursor pointer
			.logo-youtube-img:hover
				background-position bottom left

	.menu-principal-content
		padding-right 0 !important
		.nav-stacked
			float right
			text-align right
			li
				width 186px
				a
					color gris !important
					padding-right 3em !important
			li.active
				a
					color white !important

footer
	background black
	color white !important
	padding 0
	text-align center
	width 100%
	position absolute
	margin 0
	bottom -10px
	z-index 4
	height 42px
	line-height 42px
	h3
		position absolute
		font-size 0.4em
		font-weight normal
		line-height 20px
		padding-top 0.7em
		margin 0 auto
		text-align center
		width 100%
		z-index 10
		a
			color white !important


.content
	height 96%
	overflow visible

	#info-empresa
		color black
		font-size 0.8em
		margin-top 0.6em
		position relative
		width 98%
		z-index 20
		div
			line-height 26px
			padding 0.6em

	.contenido
		height 100%
		width 100%
		position relative
		.banner
			/*border 1px solid green*/
			position relative
			margin-left 3.6em
			margin-top 0
			overflow hidden
			width 90%
			height 97%
			z-index 8
	#titulo-home
		position absolute
		width 100%
		top 48%
		z-index 9
		div
			background rgba(0, 0, 0, .65)
			color white
			padding 0 1em 0.5em 2.1em
			h2
				font-size 2.2em
				margin 0.3em auto 0 0.1em
				padding 0
			p
				font-size 1em
				margin 0 auto 0.3em 0.1em
				padding 0

	#owl-proyectos
		color black
		margin-bottom 2.5em
		padding 1.5em 1.7em 1.5em 1em
		background rgba(0, 0, 0, .15)
		position relative
		z-index 9
		.item
			margin 0 2.6em 0 1em
			padding 0
			.row
				background-color gris_claro
				padding 0
				.imagen-thumb
					margin 0 !important
					padding 0 !important
					left 0
					.etiqueta
						background-color rojo
						color white
						padding 0.3em
						text-align center
						font-size 0.9em
				.proy-descrip-thumb
					margin 0 !important
					padding 1.5em
					text-align center
					a
						color black !important

	#lista-proyectos
		color black
		padding 2em 12% 1em 12%
		width 100%
		z-index 9
		.item
			margin 0.5em .2em
			padding 0
			border 16px gris_claro solid
			.etiqueta
				color gris
				height 5em
				padding 0.3em
				text-align center

	#lista-proyecto-galeria
		color black
		padding 1.5em 0
		width 100%
		z-index 9
		.itemsImgProy
			margin-bottom 0.6em
			img
				text-align center !important
				border 7px gris_claro solid
				width 100%
				height 140px
		.item
			margin 0.5em .7em
			padding 0
			

	#lista-servicios
		color black
		padding 2em 0 1.4em 0
		width 100%
		z-index 9
		.item
			margin 0 1em
			padding 0
			border 16px gris_claro solid
			.etiqueta
				color gris
				padding 0.3em
				text-align center
				height 3.4em

	#informacion-inicio
	#informacion-empresa
	#informacion-proyectos
	#informacion-servicios
	#informacion-contactos
		background-color transparent
		text-align justify
		color gris
		padding 0 60px
		position relative
		overflow auto
		z-index 9
		.titulo
			color rojo
			font-size 2.9em

	#informacion-inicio
	#informacion-contactos
		padding 0
	#informacion-empresa
		margin-right 0.9em
		#carousel-empresa
			border 7px solid gris_claro2

	#informacion-proyectos
		text-align left
		h5
			font-weight bold
		a
			color gris !important	
		.nav-pills
			& > li
				& > a
					border 1px solid gris_claro !important
					color gris !important
					border-radius none
					margin-right 0.5em
			& > li.active
				& > a
					background-color black
					color white !important
		#detalle-proyecto
			ul
				padding-left 0.3em

	.contact
		margin auto
		margin-top 1.1em
		overflow hidden
		text-align center
		color marron
		font-size 0.9em !important
		background-color cian


.simple-menu
	display none
	position absolute
	margin-top 0.2em
	margin-left 0.2em
	z-index 110

.overlay-menu
	display none
	position absolute
	right 0
	margin-top 0em
	margin-right 0em	

.nav-mobile
	display none
		

@media screen and (max-width:320px )
	nav
		display none !important
	.content
		#titulo-home
			div
				h2
					font-size 1.4em

	footer
		.links
			display none !important

@media screen and (max-width:460px )
	.menu-principal-movil
		background-image url(../img/iconos/barra-celular.jpg)
		height 47px
		#logo-small
			height 39px
			width 105px
			background-image url(../img/iconos/logo-celula.png)
		#simple-menu
			img
				padding-top 0.8em !important


@media screen and (max-width:420px ) and (min-width:321px ) 
	nav
		display none !important
	.content
		#titulo-home
			div
				h2
					font-size 1.4em




@media screen and (max-width:639px ) and (min-width:421px )
	nav
		display none !important


@media screen and (max-width:767px )
	.simple-menu
		display block
	.overlay-menu
		display block		
	.nav-mobile
		display block
	.padding-thumbs
		padding 23px 18px
	nav
		display none !important

	.content
		margin-bottom 40px
		#info-empresa
			margin-top 0.6em
			width 100%
			div
				text-align center !important
				line-height 22px
				padding 0.2em 0 0.2em 1.4em
				a
					text-align center
					color black

		#titulo-home
			margin-left 0.1em
			position relative
			top 30%
			div
				padding 0 1em 0.5em 1.1em
				height 7.4em
				h2
					font-size 1.9em
				p
					font-size 1em
		#lista-proyectos
			padding 0.2em 1.5em 0.2em 0.7em
			.col-xs-6
				padding-right 0
				margin-right 0
				.item
					margin 0.5em 0
					font-size 0.8em


		.contenido
			.banner
				position relative
				margin-top 2em
				margin-left 0
				width 100%
		#owl-proyectos
			margin-top 1.5em
			padding-left 1.7em
			padding-right 0.3em

		#informacion-inicio
		#informacion-empresa
		#informacion-proyectos
		#informacion-servicios
		#informacion-contactos
			padding 0 0.5em 0 1.5em
			.titulo
				font-size 2.4em
		#informacion-inicio
			padding 0
			top -6em
			#owl-proyectos
				margin-bottom 1.2em
		#informacion-empresa
			top -13.8em
			#carousel-empresa
				max-width 310px
				.carousel-inner
					img
						width 100%
		#informacion-proyectos
			padding 0 0.2em
			top -13.8em
			h2
				margin-left 0.1em
			.nav-pills
				font-size 0.8em !important
				margin-left 0.5em
				li
					padding-bottom 0.6em
		#informacion-servicios
			top -13.8em
			#lista-servicios
				padding-right 1.7em
			.item
				margin 0 0.1em 0 0.8em
				border 14px gris_claro solid
		#informacion-contactos
			padding 0
			top -12.8em
			.contacto-panel
				padding 0 1.3em


@media screen and (min-width: 768px)
	.content
		.contenido
			#titulo-home
				top 45%
				div
					h2
						font-size 2em
						margin 0.2em auto 0.1em 0.1em
		#info-empresa
			font-size 1em
		#informacion-inicio
			top -12.2em
			#owl-proyectos
				margin-bottom 1.8em
		#informacion-inicio
			padding-left 3.6em
			top -11em
		#informacion-empresa
		#informacion-proyectos
		#informacion-servicios
			top -23em
		#informacion-contactos
			top -24em
			.contacto-panel
				padding 2em 3em 0 4.4em

		#informacion-proyectos
			margin-bottom 20px
		#informacion-servicios
			margin-bottom 36px

//@media screen and (min-width: 1024px)
//	.content
//		#owl-proyectos
//			margin-bottom 0em

@media screen and (min-width: 1280px)
	.content
		.contenido
			#titulo-home
				top 49%
				div
					h2
						font-size 2.4em
						margin 0.3em auto 0.1em 0.1em
		#info-empresa
			font-size 1em
		#informacion-inicio
			top -12.2em
			#owl-proyectos
				margin-bottom 2em
		#informacion-empresa
			p
				font-size 1.2em


@media screen and (min-width: 1440px)
	#logo
		position relative
		margin-left 4.1em
		margin-top 1.5em
		width 110px
		z-index 10
		img
			width 110px
	.menu-principal
		.menu-principal-content
			.nav-stacked
				li
					a
						padding-top 0.6em
						padding-bottom .6em
	.content
		.contenido
			#titulo-home
				top 48%
				div
					h2
						font-size 2.8em
						margin 0.4em auto 0.1em 0.1em

		#informacion-inicio
			top -15em
			#owl-proyectos
				margin-bottom 2.7em
				font-size 1.3em
				padding-right 0.9em
				padding-left 1.5em
				.item
					.row
						.imagen-thumb
							img
							.etiqueta
								width 125px
		#informacion-empresa
			top -25em
			p
				font-size 1.3em
			#carousel-empresa
				.carousel-inner
					img
						width 100%
		#informacion-proyectos
			top -25em
		#informacion-servicios
			top -25em
		#informacion-contactos
			top -26em


//@media screen and (min-width: 1900px)


@media screen and (min-width: 768px) and (max-height: 650px)
	.content
		.contenido
			.banner
				height 100%
			#titulo-home
				top 48%
				div
					h2
						font-size 2.4em
						margin 0.3em auto 0.1em 0.1em
		#informacion-inicio
			margin-bottom 3.4em
			top -12em
			#owl-proyectos
				margin-bottom 2.2em
		#informacion-empresa
		#informacion-proyectos
		#informacion-servicios
		#informacion-contactos
			margin-bottom 3em
			top -21em
		#informacion-contactos
			top -23em
				
@media screen and (min-width: 768px) and (max-height: 510px)
	.content
		.contenido
			.banner
				height 130%
			#titulo-home
				top 40%
		#informacion-inicio
			margin-bottom 3em
			#owl-proyectos
				margin-bottom 1.8em
		#informacion-empresa
		#informacion-proyectos
		#informacion-servicios
		#informacion-contactos
			top -18em
		#informacion-contactos
			top -20em

@media screen and (min-width: 768px) and (max-height: 360px)
	.content
		.contenido
			.banner
				height 150%

				
@media screen and (max-width: 800px) and (min-height:  700px)
	.simple-menu
		display block
	.overlay-menu
		display block
	.nav-mobile
		display block
	.padding-thumbs
		padding 23px 18px
	nav
		display none !important

	.content
		margin-bottom 40px
		#info-empresa
			margin-top 0.6em
			div
				text-align center !important
				line-height 22px
				padding 0.2em
				a
					text-align center
					color black

		#titulo-home
			margin-left 0.1em
			position relative
			top 50%
			div
				padding 0 1em 0.5em 1.1em
				h2
					font-size 1.7em
				p
					font-size 1em
		#lista-proyectos
			padding 0.2em 0.5em
			.col-xs-6
				padding-right 0
				margin-right 0
				.item
					margin 0.5em 0


		.contenido
			.banner
				position relative
				margin-top 2em
				margin-left 0
				width 100%

		#informacion-inicio
		#informacion-empresa
		#informacion-proyectos
		#informacion-servicios
			padding 0 22px
		#informacion-inicio
			padding 0
			top -11.4em
			#owl-proyectos
				margin-bottom 1.4em
		#informacion-empresa
			top -22em
		#informacion-proyectos
			padding 0
			top -22em
			h2
				margin-left 0.4em
			.nav-pills
				font-size 0.8em !important
		#informacion-servicios
			top -22em
		#informacion-contactos
			padding 0
			top -21.2em
			.contacto-panel
				padding 0 1.3em


