<!doctype html>
<html lang="es" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>ASB Contratistas</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <script>document.write('<base href="' + document.location + '" />');</script>
      
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/menu-nav.css">
        <link rel="stylesheet" href="css/carousel.css">
        <link rel="stylesheet" href="css/app.css">
        <!-- Owl Carousel Assets -->
        <link href="lib/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="lib/owl-carousel/owl.theme.css" rel="stylesheet">
        
        <script src="lib/jquery-2.0.3.min.js"></script>
        <script src="lib/jquery.sidr.min.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <script src="lib/jquery.backstretch.min.js"></script>
        <script src="lib/owl-carousel/owl.carousel.js"></script>
        
    </head>
    <body data-ng-controller="InitController" data-ng-cloak>
        <div id="logo" class="hidden-xs">
                <img data-ng-src="img/iconos/logotipo-asb.png"/>
        </div>

        <div class="menu-principal-movil row visible-xs">
            <div class="col-xs-2">
                &nbsp;
            </div>
            <div  id="logo-small" class="col-xs-8 text-center">
                <img data-ng-src="img/iconos/logotipo-asb.png" />
            </div>
            <div class="col-xs-2 text-right">
                |||
            </div>
        </div>
        
        <div class="menu-principal row hidden-xs">
            
            <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10">
                <div class="iconos-social">
                    <div class="logo-fb">
                        <a target="_blank" href="https://www.facebook.com/asb">
                            <div class="logo-fb-img"></div>
                        </a>
                    </div>
                    <div class="logo-twitter">
                        <a target="_blank" href="https://www.facebook.com/asb">
                            <div class="logo-twitter-img"></div>
                        </a>
                    </div>
                    <div class="logo-youtube">
                        <a target="_blank" href="https://www.facebook.com/asb">
                            <div class="logo-youtube-img"></div>
                        </a>
                    </div>
                </div>
                <br/>
            </div>

          <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 menu-principal-content">
              <ul class="nav nav-pills nav-stacked">
                <li ng-class="{'active' : isActiveMenu('/')}"
                    ng-click="selectMenu('/')"><a ui-sref="public.home">INICIO</a></li>
                <li ng-class="{'active' : isActiveMenu('/empresa')}"
                    ng-click="selectMenu('/empresa')"><a ui-sref="public.empresa">EMPRESA</a></li>
                <li ng-class="{'active' : isActiveMenu('/proyectos')}"
                    ng-click="selectMenu('/proyectos')"><a ui-sref="public.proyectos">PROYECTOS</a></li>
                <li ng-class="{'active' : isActiveMenu('/servicios')}"
                    ng-click="selectMenu('/servicios')"><a ui-sref="public.servicios">SERVICIOS</a></li>
                <li ng-class="{'active' : isActiveMenu('/contacto')}"
                    ng-click="selectMenu('/contacto')"><a ui-sref="public.contacto">CONTÁCTENOS</a></li>
              </ul>
          </div>
        </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container content">
        <div data-ui-view id="id_content_view"></div>
    </div><!-- /.container -->
    <footer id="footer">
        <h3>
            <a href="http://analising.com" target="_blank">POWER BY ANALISING.COM</a>
        </h3>
    </footer>


    <div id="alertBox" class="alert alert-danger" data-ng-show="error">
        <button type="button" class="close" data-ng-click="error = null;">&times;</button>
        <span data-ng-bind="error"></span>
    </div>

      <!-- In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      -->
      <script src="lib/underscore-min.js"></script>
      <script src="lib/angular/angular.js"></script>
      <script src="lib/angular/angular-sanitize.min.js"></script>
      <!-- <script src="lib/angular/angular-route.js"></script> -->
      <script src="lib/angular/angular-cookies.min.js"></script>
      <script src="lib/angular-ui-router/angular-ui-router.min.js"></script>
      <script src="lib/angular-easyfb.min.js"></script>

      <script src="lib/q.min.js"></script>
        
    <!-- Load custom scripts via RequireJS -->
    <script src="lib/require.js" data-main="js/main"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    
    </body>
    
</html>