<div class="contact" id="contact" ng-controller="ContactoController">

		<div class="izq hidden-xs">
			<h2>Ubicación</h2>
			<p class="direccion">Amor Amar Jr. Garcia y Garcia 175<br/>
				Barranco - Lima, Perú</p>
			<h2>Informes</h2>	
			<p>Email: informes@delibouquet.pe</p>
		</div>
		<div class="spacer hidden-xs">

			<span> </span>
		</div>
		<div class="der hidden-xs">
			<h2>Pedidos</h2>
			<p>(511)241-8724 / 241 8142
				<br/>&nbsp;</p>
			<h2>Horarios</h2>
			<p>lunes a domingo de 10:00am a 8:00pm</p>
		</div>


 	<div class="centro visible-xs">		
		<h2>Ubicación</h2>
		<div class="direccion">Amor Amar Jr. Garcia y Garcia 175<br/>
			Barranco - Lima, Perú</div>
		<h2>Informes</h2>	
		<p>Email: informes@delibouquet.pe</p>

		<h2>Pedidos</h2>
		<p>(511)241-8724 / 241 8142</p>
		<h2>Horarios</h2>
		<p>lunes a domingo de 10:00am a 8:00pm</p>
	</div>		

</div>


	<div class="contact-map">
		<div id="map_canvas">

		</div>
	</div>

