<div class="contenido" id="contenido" 
	data-ng-controller="ContactoController">
    <div ng-include="'views/menu.html'">

    </div>

    <div class="banner row" id="banner">

    </div>
    
    <div id="informacion-contactos" class="">
            <div class="contacto-panel">
                <h2 class="titulo"> CONT&Aacute;CTENOS </h2>
                <br/>
                <div class="row">
                    <div class="col-md-8">
                        <p>ASB CONTRATISTAS GENERALES E.I.R.L.</p> 
                        <p>
                          <img data-ng-src="img/iconos/icono-ubicacion.png"/>
                        Bolognesi 125 Of. 1101 Miraflores Lima - Per&uacute; (Alt. Cdra. 6 de la Av. Pardo)
                        </p> 
                        <p>
                          <img data-ng-src="img/iconos/icono-telefono.png"/>
                          Tel - Fax 241-8724 / 241-8142 Atención de lunes a viernes de 9am a 6pm
                        </p> 
                        <p>
                          <img data-ng-src="img/iconos/icono-celular.png"/>
                          981-085-768 / 999-118-448 / 996-494-966 Atención de lunes a domingo en cualquier horario
                          </p> 
                        <p>
                          <img data-ng-src="img/iconos/icono-correo.png"/>
                          asbcg@asbcontratistas.com
                        </p> 
                    </div>
                    <div class="col-md-4">

                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label for="inputNombre" class="col-sm-3 control-label">Nombre:</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control input-sm" id="inputNombre" placeholder="Nombre">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Email:</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control input-sm" id="inputEmail" placeholder="Email">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmpresa" class="col-sm-3 control-label">Empresa:</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control input-sm" id="inputEmpresa" placeholder="Empresa">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputTelefono" class="col-sm-3 control-label">Teléfono:</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control input-sm" id="inputTelefono" placeholder="Teléfono">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputComentario" class="col-sm-3 control-label">Comentario:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control input-sm" id="inputComentario" rows="3"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-3 col-sm-9 text-right">
                              <button type="submit" class="btn" style="width: 98px;border-radius: 0;background-color: black;color: white">Enviar</button>
                            </div>
                          </div>
                        </form>

                    </div>
                </div>
            </div>

        <div class="contact-map">
                <div id="map_canvas">

                </div>
        </div>

    </div>

    
</div>

