<div class="contenido" id="contenido" 
	data-ng-controller="EmpresaController">
    <div class="banner row" id="banner">

    </div>
</div>

<div id="informacion">
	<h2 class="titulo"> EMPRESA </h2>
	<div class="row">
		<div class="col-sm-9">
			<p>
				Somos una empresa dedicada al negocio inmobiliario en general.<br/>
				Las actividades que desarrollamos son el diseño y construcción de obras públicas
				<br/>
			 </p>
			<p>
				Nuestras profesionalidad y vasta experiencia...
			</p>
		</div>
		<div  class="col-sm-3">
			<img data-ng-src="img/empresa-thumb.jpg"/>
		</div>
	</div>
</div>

<div class="row" id="info-empresa">
    <div class="col-xs-12 col-sm-4 col-md-5 text-right"> 
        <img data-ng-src="img/iconos/icono-ubicacion.png"/> &nbsp;&nbsp;&nbsp; Bolognesi 125 Of. 1101 Miraflores Lima - Perú
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 text-center">
        <img data-ng-src="img/iconos/icono-telefono.png"/> &nbsp;&nbsp;&nbsp; 241-8724 / 241-8142
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 text-left">
        
            <img data-ng-src="img/iconos/icono-correo.png"/> &nbsp;&nbsp;&nbsp; asbcg@asbcontratistas.com
    </div>
        
</div>