<div class="row" id="info-empresa">
    <div class="col-xs-12 col-sm-4 col-md-5 text-right"> 
        <img data-ng-src="img/iconos/icono-ubicacion.png"/> &nbsp;&nbsp;&nbsp; Bolognesi 125 Of. 1101 Miraflores Lima - Perú
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 text-center">
        <img data-ng-src="img/iconos/icono-telefono.png"/> &nbsp;&nbsp;&nbsp; 241-8724 / 241-8142
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 text-left">
        
            <img data-ng-src="img/iconos/icono-correo.png"/> &nbsp;&nbsp;&nbsp; asbcg@asbcontratistas.com
    </div>
        
</div>
