<div class="contenido" id="contenido" 
	data-ng-controller="MainController">
    <div class="banner row" id="banner">

    </div>
</div>

<div id="titulo-home" class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-9">
        <h2>Disfruta en familia</h2>
        <p>Departamentos de 2 y 3 dormitorios</p>
    </div>
</div>
        

<div id="owl-proyectos" class="owl-carousel">
    <div class="item">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                <div class="etiqueta">EN VENTA</div>
            </div>
            <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                AREQUIPA I <br/>
                Miraflores
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                <div class="etiqueta">EN VENTA</div>
            </div>
            <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                AREQUIPA I <br/>
                Miraflores
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                <div class="etiqueta">EN VENTA</div>
            </div>
            <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                AREQUIPA I <br/>
                Miraflores
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                <div class="etiqueta">EN VENTA</div>
            </div>
            <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                AREQUIPA I <br/>
                Miraflores
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                <div class="etiqueta">EN VENTA</div>
            </div>
            <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                AREQUIPA I <br/>
                Miraflores
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                <div class="etiqueta">EN VENTA</div>
            </div>
            <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                AREQUIPA I <br/>
                Miraflores
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="row">
            <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                <div class="etiqueta">EN VENTA</div>
            </div>
            <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                AREQUIPA I <br/>
                Miraflores
            </div>
        </div>
    </div>
    
    
</div>

<div class="row" id="info-empresa">
    <div class="col-xs-12 col-sm-4 col-md-5 text-right"> 
        <img data-ng-src="img/iconos/icono-ubicacion.png"/> &nbsp;&nbsp;&nbsp; Bolognesi 125 Of. 1101 Miraflores Lima - Perú
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 text-center">
        <img data-ng-src="img/iconos/icono-telefono.png"/> &nbsp;&nbsp;&nbsp; 241-8724 / 241-8142
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 text-left">
        
            <img data-ng-src="img/iconos/icono-correo.png"/> &nbsp;&nbsp;&nbsp; asbcg@asbcontratistas.com
    </div>
        
</div>