<div class="contenido" id="contenido" 
	data-ng-controller="MainController">

    <div ng-include="'views/menu.html'">

    </div>

    <div class="banner" id="banner">


        
        <div id="titulo-home" class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-9
                 sample-show-hide" ng-show="mostrarTitulo">
                        <h2>Disfruta en familia</h2>
                        <p>Departamentos de 2 y 3 dormitorios</p>
            </div>
        </div>
        
        
    </div>

    

    <div id="informacion-inicio">
        <div id="owl-proyectos" class="owl-carousel">

            <div class="item">
                <div class="row">
                    <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                        <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        <div class="etiqueta">EN VENTA</div>
                    </div>
                    <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                        AREQUIPA I <br/>
                        Miraflores
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                        <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        <div class="etiqueta">EN VENTA</div>
                    </div>
                    <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                        AREQUIPA I <br/>
                        Miraflores
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                        <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        <div class="etiqueta">EN VENTA</div>
                    </div>
                    <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                        AREQUIPA I <br/>
                        Miraflores
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                        <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        <div class="etiqueta">EN VENTA</div>
                    </div>
                    <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                        AREQUIPA I <br/>
                        Miraflores
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                        <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        <div class="etiqueta">EN VENTA</div>
                    </div>
                    <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                        AREQUIPA I <br/>
                        Miraflores
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                        <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        <div class="etiqueta">EN VENTA</div>
                    </div>
                    <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                        AREQUIPA I <br/>
                        Miraflores
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-5 col-md-5 col-sm-5 imagen-thumb">
                        <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        <div class="etiqueta">EN VENTA</div>
                    </div>
                    <div class="col-xs-7 col-md-7 col-sm-7 proy-descrip-thumb">
                        AREQUIPA I <br/>
                        Miraflores
                    </div>
                </div>
            </div>


        </div>
        
        <div ng-include="'views/infoEmpresa.html'">

        </div>

        <div ng-include="'views/social.html'" class="visible-xs">

        </div>

    </div>
    
    
</div>


