<div class="contenido" id="contenido" 
	data-ng-controller="MainController">
    <div class="banner row" id="banner">

            <div id="owl-proyectos" class="owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-5">
                            <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                            <div>EN VENTA</div>
                        </div>
                        <div class="col-md-6 col-sm-7 proy-descrip-thumb">
                            Arequipa I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        </div>
                        <div class="col-md-6 col-sm-6 proy-descrip-thumb">
                            Arequipa I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        </div>
                        <div class="col-md-6 col-sm-6 proy-descrip-thumb">
                            Arequipa I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        </div>
                        <div class="col-md-6 col-sm-6 proy-descrip-thumb">
                            Arequipa I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        </div>
                        <div class="col-md-6 col-sm-6 proy-descrip-thumb">
                            Arequipa I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        </div>
                        <div class="col-md-6 col-sm-6 proy-descrip-thumb">
                            Arequipa I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                        </div>
                        <div class="col-md-6 col-sm-6 proy-descrip-thumb">
                            Arequipa I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        Bolognesi 125 
        241-8724 
        asbcg@asbcontratistas.com
    </div>
</div>