<div class="container productos" ng-controller="PedidoDetalleController">
    <div class="row subcontenido">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3>Estado de tu compra</h3>
            <br/>
        </div>

          <div class="col-sm-3 col-md-4">
            <div ng-repeat="p in pedido.detalle | orderBy:'name'">
                    <div class="thumbnail sin-fondo sin-borde">
                      <img ng-src="/web/m_cart/files/producto/{{p.imagen}}" alt="img1" class="img-circle img-responsive">
                      <div class="caption text-center">
                          <h4 class="text-center">{{p.productoNombre}}</h4>
                        <p>Cantidad - {{p.cantidad}}</p>
                      </div>
                    </div>
            </div>
          </div>
        
          <div class="col-sm-9 col-md-7">
            <div class="thumbnail">
              <div class="caption">
                  <p>
                      Número de Compra: &nbsp;&nbsp;&nbsp; {{pedido.head.idOrden}}
                      <br/><br/>
                  </p> 
                  <p>
                      Fecha de entrega programada: &nbsp;&nbsp;&nbsp; {{pedido.head.fechaEnvio}}
                      <br/><br/>
                  </p> 
                  <p>
                      Dirección: &nbsp;&nbsp;&nbsp; {{pedido.head.direccionEnvio}}
                      <br/><br/>
                  </p> 
                  <p>
                      Estado de compra: &nbsp;&nbsp;&nbsp; {{pedido.head.ordenEstado.languages[0].nombre}}
                      <br/><br/>
                  </p> 
                  <p>
                      Número de Factura: &nbsp;&nbsp;&nbsp; {{pedido.head.nroFactura}}
                      <br/><br/>
                  </p> 
                  <div class="row text-right">
                      <br/>
                      <a ui-sref="user.pedidos"><h4>Atrás &nbsp;&nbsp;</h4></a>
                  </div> 
              </div>
            </div>
          </div>

    </div>

</div>

