<div class="contenido" id="contenido" 
	data-ng-controller="ProyectoDetalleController">
    <div ng-include="'views/menu.html'">

    </div>

    <div class="banner" id="banner">

    </div>
    
<div id="informacion-proyectos" class="">
    <h2 class="titulo" ng-bind="contenido.adicional1">  </h2>
        <ul class="nav nav-pills" ng-init="tabActivo = 1">
            <li ng-class="{'active' : tabActivo === 1}">
                <a ui-sref="public.proyecto_detalle" ng-click="tabActivo = 1">DESCRIPCIÓN</a>
            </li>
            <li ng-class="{'active' : tabActivo === 4}">
                <a ui-sref="public.proyecto_detalle.mapa" ng-click="tabActivo = 4">MAPA</a>
            </li>
            <li ng-class="{'active' : tabActivo === 5}">
                <a ui-sref="public.proyecto_detalle.video" ng-click="tabActivo = 5">VIDEO</a>
            </li>
          <li ng-class="{'active' : tabActivo === 2}">
              <a ui-sref="public.proyecto_detalle.imagenes({ idcont: contenido.idcontent , tipo: 1})" ng-click="tabActivo = 2">IMÁGENES</a>
          </li>
          <li ng-class="{'active' : tabActivo === 3}">
              <a ui-sref="public.proyecto_detalle.imagenes({ idcont: contenido.idcontent , tipo: 2})" ng-click="tabActivo = 3">PLANOS</a>
          </li>
        </ul>
        <br/>
        <div id="detalle-proyecto">
            <div ui-view>
            
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 columna-detalle" 
                         style="border-right: 1px solid #BABABA;min-height: 200px;">
                        <h5 style="margin-top: 0">DESCRIPCIÓN GENERAL</h5>
                        <div class="panel-body" ng-bind-html="deliberatelyTrustDangerousSnippet(contenido.adicional2)">

                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 columna-detalle" 
                         style="border-right: 1px solid #BABABA;min-height: 200px;">
                        <h5 style="margin-top: 0">DESCRIPCIÓN DEL DEPARTAMENTO</h5>
                        <div class="panel-body" ng-bind-html="deliberatelyTrustDangerousSnippet(contenido.adicional3)">

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
                         style="min-height: 200px;">
                        <h5 style="margin-top: 0">ACABADOS</h5>
                        <div class="panel-body" ng-bind-html="deliberatelyTrustDangerousSnippet(contenido.adicional4)">

                        </div>
                    </div>

                </div>            
            </div>                            
	</div>

    <div ng-include="'views/infoEmpresa.html'">

    </div>

    <div ng-include="'views/social.html'" class="visible-xs">

    </div>

    <br/>        
</div>


</div>

        
