<div data-ng-controller="ProyectoDetalleMapaController">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 imgMapaProy">
        	<a href="{{rootUrl}}/backend/web/m_web/files/content/{{contenido.imagen2}}" class="text-center">
            <img fallback-src="img/sin-imagen.png" 
                ng-src="{{rootUrl}}/backend/web/m_web/files/content/{{contenido.imagen2}}" class="text-center img-responsive"/>
            </a>
        </div>
    </div>
    
    <br/>        
</div>


        
