<div data-ng-controller="ProyectoDetalleGaleriaController">
        <div id="lista-proyecto-galeria">
            <div class="row">
                
                <div ng-repeat="imagen in galeriaImagenes | orderBy:'ordenGale':true"
                    class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <div class="item itemsImgProy">
                        <a href="{{rootUrl}}/backend/web/m_web/files/content/galeria/{{imagen.imagenGale}}">
                            <img fallback-src="img/sin-imagen.png" 
                                ng-src="{{rootUrl}}/backend/web/m_web/files/content/galeria/thumb_{{imagen.imagenGale}}" class="img-responsive" height="133" />
                        </a>
                    </div>
                </div>
                
            </div>
	</div>

    <br/>        
</div>


        
