<div class="contenido" id="contenido" 
	data-ng-controller="ProyectoDetalleController">
    <div ng-include="'views/menu.html'">

    </div>

    <div class="banner" id="banner">

    </div>
    
<div id="informacion-proyectos" class="">
	<h2 class="titulo"> AREQUIPA </h2>
        <ul class="nav nav-pills">
          <li class="active" ><a href="#">DESCRIPCIÓN</a></li>
          <li><a href="#">IMÁGENES</a></li>
          <li><a href="#">PLANOS</a></li>
        </ul>
        <br/>
        <div id="detalle-proyecto">
            <div class="row">
                
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 columna-detalle" 
                     style="border-right: 1px solid #BABABA;min-height: 200px;">
                    <h5 style="margin-top: 0">DESCRIPCIÓN GENERAL</h5>
                    <ul style="padding-left: 1.2em;">
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                    </ul>
                </div>
                        
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 columna-detalle" 
                     style="border-right: 1px solid #BABABA;min-height: 200px;">
                    <h5 style="margin-top: 0">DESCRIPCIÓN DEL DEPARTAMENTO</h5>
                    <ul style="padding-left: 1.2em;">
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                    </ul>
                </div>
                        
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4"
                     style="min-height: 200px;">
                    <h5 style="margin-top: 0">ACABADOS</h5>
                    <ul style="padding-left: 1.2em;">
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                        <li>Edificio de dos torres de 12 pisos</li>
                    </ul>
                </div>
                        
            </div>            
	</div>

    <div ng-include="'views/infoEmpresa.html'">

    </div>

    <div ng-include="'views/social.html'" class="visible-xs">

    </div>

    <br/>        
</div>


</div>

        
