<div class="contenido" id="contenido" 
	data-ng-controller="ProyectosController">
    <div class="banner row" id="banner">

    </div>
</div>

<div id="informacion" class="">
	<h2 class="titulo"> PROYECTOS </h2>
	<div class="row">
		<div class="col-md-12">
                    <ul class="nav nav-pills">
                      <li class="active"><a href="#">TODOS</a></li>
                      <li><a href="#">EN VENTA</a></li>
                      <li><a href="#">TERMINADOS</a></li>
                      <li><a href="#">EN PROYECTO</a></li>
                    </ul>
                    
		</div>
		<div  class="col-md-12">
                    <div id="proyectos-carousel" class="owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-12 imagen-thumb">
                                    <img src="img/iconos/servicios-proyectos.jpg" class="img-responsive"/>
                                    <div class="etiqueta">
                                        AREQUIPA I <br/>
                                        Miraflores
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

		</div>
	</div>
</div>

<div class="row" id="info-empresa">
    <div class="col-xs-12 col-sm-4 col-md-5 text-right"> 
        <img data-ng-src="img/iconos/icono-ubicacion.png"/> &nbsp;&nbsp;&nbsp; Bolognesi 125 Of. 1101 Miraflores Lima - Perú
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 text-center">
        <img data-ng-src="img/iconos/icono-telefono.png"/> &nbsp;&nbsp;&nbsp; 241-8724 / 241-8142
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 text-left">
        
            <img data-ng-src="img/iconos/icono-correo.png"/> &nbsp;&nbsp;&nbsp; asbcg@asbcontratistas.com
    </div>
        
</div>