<div class="contenido" id="contenido" 
	data-ng-controller="ProyectosController">
    <div ng-include="'views/menu.html'">

    </div>

    <div class="banner" id="banner">

    </div>
    
<div id="informacion-proyectos" class="">
	<h2 class="titulo"> PROYECTOS </h2>
        <ul class="nav nav-pills">
          <li class="active" ><a href="#" style="border: 1px solid black;background-color: black;border-radius:0;margin-right: 0.4em;">TODOS</a></li>
          <li><a href="#" style="border: 1px solid #DEDEDE !important;color: #656565;border-radius:0 !important;margin-right: 0.4em;">EN VENTA</a></li>
          <li><a href="#" style="border: 1px solid #DEDEDE !important;color: #656565;border-radius:0 !important;margin-right: 0.4em;">TERMINADOS</a></li>
          <li><a href="#" style="border: 1px solid #DEDEDE !important;color: #656565;border-radius:0 !important">EN PROYECTO</a></li>
        </ul>
        
        <div id="lista-proyectos">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="item ">
                        <img src="img/iconos/servicios-centros-empresariales.jpg" class="img-responsive"/>
                        <div class="etiqueta">
                            AREQUIPA I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                        
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="item ">
                        <img src="img/iconos/servicios-centros-empresariales.jpg" class="img-responsive"/>
                        <div class="etiqueta">
                            AREQUIPA I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                        
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="item ">
                        <img src="img/iconos/servicios-centros-empresariales.jpg" class="img-responsive"/>
                        <div class="etiqueta">
                            AREQUIPA I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                        
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="item ">
                        <img src="img/iconos/servicios-centros-empresariales.jpg" class="img-responsive"/>
                        <div class="etiqueta">
                            AREQUIPA I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                        
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="item ">
                        <img src="img/iconos/servicios-centros-empresariales.jpg" class="img-responsive"/>
                        <div class="etiqueta">
                            AREQUIPA I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                        
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="item ">
                        <img src="img/iconos/servicios-centros-empresariales.jpg" class="img-responsive"/>
                        <div class="etiqueta">
                            AREQUIPA I <br/>
                            Miraflores
                        </div>
                    </div>
                </div>
                        
            </div>            
	</div>

    <div ng-include="'views/infoEmpresa.html'">

    </div>

    <div ng-include="'views/social.html'" class="visible-xs">

    </div>

    <br/>        
</div>


</div>

        
