<div class="contenido" id="contenido" 
	data-ng-controller="ServiciosController">
    <div ng-include="'views/menu.html'">

    </div>

    <div class="banner row" id="banner">

    </div>
    
    <div id="informacion-servicios" class="">
        <h2 class="titulo padding-content hidden-xs"> SERVICIOS</h2>
        <h2 class="titulo visible-xs"> SERVICIOS</h2>
            
        <div id="lista-servicios" >
            <div class="row">
                    <div  class="hidden-xs">
                        
                    </div>
                
                    <div  class="col-xs-1 col-md-1 sin-padding text-right">
                        <a class="btn prev"></a>
                    </div>
                    <div  class="col-xs-10 col-md-10">
                        <div id="owl-carousel" class="owl-carousel owl-theme">
                            
                            <div ng-repeat="contenido in contenidos"
                                class="item">
                                <img src="img/iconos/servicios-construccion-edificacion.jpg" class="img-responsive"/>
                                <div class="etiqueta">
                                    {{contenido.adicional1}}
                                </div>
                            </div>

                        </div>

                    </div>
                    <div  class="col-xs-1 col-md-1 sin-padding">
                        <a class="btn next"></a>
                    </div>
            </div>
        </div>

        <div ng-include="'views/infoEmpresa.html'">

        </div>

        <div ng-include="'views/social.html'" class="visible-xs">

        </div>

    </div>


    
</div>

